* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(var(--background-end-rgb))
  )
  rgb(var(--background-start-rgb));
  font-family: 'Inter', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
.bg-dark {
  background-color: #343a40 !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.text-light {
  color: #f8f9fa !important;
}

.text-dark {
  color: #212529 !important;
}

.border-light {
  border-color: #f8f9fa !important;
}

.border-dark {
  border-color: #212529 !important;
}

.inventory-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
  margin: 1rem;
  width: 150px;
  height: 150px;
}

.inventory-item.dark {
  background-color: #212529;
  border-color: #343a40;
}

.inventory-item .item-quantity {
  color: #212529;
}

/* Adjust the width and height of item boxes */
.item-box {
  width: 80%; 
  max-width: 300px; 
  height: auto; 
  margin: 0 auto 1rem; 
}


.item-box-description {
  font-size: 0.9rem; 
}

.item-box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Space between boxes */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  .inventory-item .item-quantity {
    color: #f8f9fa;
  }
}
